header {
    padding: 1.5em 0;
    /* justify-content: space-between; */
    align-items: center;
}
.header-box-items{
    /* justify-content: center; */
}
.logo {
    font-size: 3em;
    color: blue;
    text-align: center;
}

.logo span {
    color: green;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
}
.search-bar{
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
    border-bottom: solid;
    /* border: solid 1px transparent; */
}
/* .search-bar:focus-within {
    border-color: initial;
} */