.nav-items {
    gap: 20px;
}

.profil {
    border: solid;
    width: max-content;
    padding: 5px 0;
    gap: 15px;
}
.profil-info h3{
    text-decoration: underline;
}
.profil-info{
    gap: 5px;
}
.edit-profil-btn:hover {
    color: blue;
}
.delete-profil-btn:hover {
    color: red;
}

.option-profil {
    gap: 15px;
    padding: 5px;
}
.option-profil div{
    box-shadow: 0px 0px 5px 2px;
    cursor: pointer;

}

.profil-cover {
    align-items: center;
    text-align: center;
}
.add-img-label:hover{
color: green;
cursor: pointer;
}

.logout.flex {
    gap: 5px;
    padding: 2px 2px;
    background: red;
    cursor: pointer;
    width: max-content;
    color: white;
}